<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    {{ if ne .Site.Params.preloader false }}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.1/web3.min.js"
      integrity="sha512-GKw4QT/RccGJIwQxY3MhyiQ5pHrhQ8SuKFEafV+WcpOvtz7iYFQuQGFCvmGlHLctJTe8KrWU1FqvF7VOkEAJtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>

    <!--script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script-->

    <!--script src="/login.js"></script-->
    <script src="/js/gocoder.js"></script>
    <!-- Begin Inspectlet Asynchronous Code -->
    <script type="text/javascript">
      (function() {
	  window.__insp = window.__insp || [];
	  __insp.push(['wid', 898987699]);
	  var ldinsp = function(){
	      if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=898987699&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
	  setTimeout(ldinsp, 0);
      })();
    </script>
    <!-- End Inspectlet Asynchronous Code -->
    <script async src="//static.getclicky.com/101396640.js"></script>
  </body>
</html>
